@font-face {
  font-family: "Nexity Regular";
  src:font-url('Nextiy-Regular.otf') format("truetype");
}

@font-face {
  font-family: "Nexity Medium";
  src:font-url('Nexity-Medium.otf') format("truetype");
}

@font-face {
  font-family: "Nexity Heavy";
  src:font-url('Nextiy-Heavy.otf') format("truetype");
}

@font-face {
  font-family: "Nexity Bold";
  src:font-url('Nextiy-Bold.otf') format("truetype");
}
