@font-face {
  font-family: "Nexity";
  src:font-url('Nexity-Regular.otf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nexity";
  src:font-url('Nexity-Medium.otf') format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Nexity";
  src:font-url('Nextiy-Heavy.otf') format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Nexity";
  src:font-url('Nextiy-Bold.otf') format("truetype");
  font-weight: bold;
  font-style: normal;
}
